/* RESETS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Primary Color Variables: */

$main-pink-color: #f72585;
$accent-blue: #4361ee;
$light-green: #4cc9f0;
$bg-grey-color: #f5f5f5;
$text-grey-color: #333333;
$border-grey-color: #cccccc;

/* BODY */
body {
  display: flex;
  //   align-items: center;
}

/* GENERAL */
body {
  background-color: $bg-grey-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
/* CONTAINER */
// .container {
//   height: 100vh;
//   margin-bottom: 20px;
// }

/* HEADER / NAV */
.header {
  padding: 0 15px;
  width: 100vw;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: $main-pink-color;
  color: white;
  @media (max-width: 810px) {
    flex-direction: column;
    height: 120px;
    padding: 0;
  }
  @media (max-width: 510px) {
    height: 300px;
  }
}
.logo {
  @media (max-width: 810px) {
    margin: 10px 0 10px 0;
  }
}
.trivia__settings {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  @media (max-width: 810px) {
    margin: 0 auto;
  }
  @media (max-width: 510px) {
    flex-wrap: wrap;
  }
}
.category__options,
.category__difficulty,
.category__type,
label {
  height: 30px;
  margin: auto 0;
  @media (max-width: 510px) {
    margin: 0 100px;
  }
}
.categories {
  flex-direction: row;
  width: 400px;
}
//TRIVIA SETTINGS BUTTONS
.trivia__result {
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings {
  display: flex;
  margin-left: 30px;
  width: 100%;
  @media (max-width: 810px) {
    flex-direction: column;
  }
}
label {
  margin-right: 3px;
  @media (max-width: 810px) {
    margin-top: 5px;
    text-align: start;
  }
}
//button that creates surveys
.create {
  height: 30px;
  background-color: white;
  padding: 10px;
  margin: auto 30px;
  border: none;
  border-radius: 6px;
  line-height: 10px;
  font-weight: bold;
  @media (max-width: 810px) {
    height: 40px;
  }
  @media (max-width: 510px) {
    margin: 10px auto;
  }
}
.create:hover {
  background-color: $main-pink-color;
  color: white;
  outline: 1px solid white;
  cursor: pointer;
}

//  TRIVIA CONTAINER
.trivia {
  padding: 10px 20px;
  width: 80%;
  margin: 0 auto;
  &__question {
    margin-bottom: 10px;
    &--description {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $accent-blue;
      color: $accent-blue;
    }
  }
  &__list--el {
    margin: 8px 0;
  }
}
ul {
  list-style-type: none;
}
input[type="radio"] {
  margin-right: 10px;
  margin-bottom: 5px;
}
input[type="radio"]:first-child {
  margin-top: 10px;
}
// TRIVIA CREATION SECTION
.trivia__creation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 510px) {
    margin-bottom: 200px;
  }
}

// BUTTON
#submit {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid $accent-blue;
  background-color: white;
  color: $accent-blue;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s;

  &:hover {
    color: white;
    background-color: $accent-blue;
    transform: scale(1.1);
    cursor: pointer;
  }
}

//SCORE RESULT
.result {
  font-size: 1.2rem;
  background-color: #4ccaf041;
  margin-left: 3px;
  padding: 10px;
  border-radius: 10px;
  color: $accent-blue;
}
.points {
  margin-left: 20px;
}

// ANNOUNCEMENT SECTION
.announcement {
  width: 60vw;
  color: $accent-blue;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 20px;
  margin-top: 20px;
}

// SPINNER SECTION
/* SPINNER */
.spinner {
  position: absolute;
  left: 50%;
  top: 46%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-top: 5px solid $light-green;
  border-right: 6px solid $light-green;
  border-bottom: 5px solid $main-pink-color;
  border-left: 6px solid $main-pink-color;
  animation: spinner 1.5s infinite linear;
  margin-top: -150px;
  @media (max-width: 810px) {
    margin-top: 40px;
  }
}

@keyframes spinner {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
