/* RESETS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Primary Color: */
:root {
  --main-pink-color: #f72585;
  --accent-blue: #4361ee;
  --light-green: #4cc9f0;
  --bg-grey-color: #f5f5f5;
  --text-grey-color: #333333;
  --border-grey-color: #cccccc;
}

/* GENERAL */
body {
  background-color: var(--bg-grey-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CONTAINER */
/* HEADER / NAV */
.header {
  padding: 0 15px;
  width: 100vw;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: var(--main-pink-color);
  color: white;
}

.trivia_creation {
  height: 30px;
  display: flex;
  margin-left: auto;
  /* min-width: 65%; */
  /* border: 3px solid white; */
}

.settings {
  display: flex;
  margin-left: 30px;
}

label {
  margin-right: 5px;
}

.create {
  background-color: white;
  color: var(--main-pink-color);
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  line-height: 10px;
  font-weight: bold;
}

.create:hover {
  background-color: var(--main-pink-color);
  color: white;
  outline: 1px solid white;
  cursor: pointer;
}

/* BODY */
.tivia {
  padding: 10px 20px;
}
.tivia__question {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}
